body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.detail-wrapper {
  display: flex;
  background-color: rgb(162, 164, 164);
  padding: 30px;
  border-radius: 5px;
}

.user-display {
  background-color: white;
  padding: 80px;
  border-radius: 5px;
}
.edit-wrapper {
  padding: 30px;
  background-color: rgb(162, 164, 164);
  border-radius: 5px;
}

.form-wrapper {
  width: 280px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tag-detail-single h3 {
  display: flex;
  justify-content: center;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-color: white;
}

.create-tag-btn {
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

input {
  margin-bottom: 20px;
}

img {
  width: 100px;
  margin: 10px;
}

ul {
  padding: 0;
}

li {
  margin: 10px;
}

/* .form-btn {
  margin-top: 40px;
} */

.detail-btn {
  margin: 6px;
}

.second-btn {
  margin-top: 15px;
}

.edit-cancel-btn {
  color: rgb(73, 97, 159);
  border: none;
  margin-top: 10px;
}

.edit-submit-btn {
  background-color: rgb(108, 187, 161);
  color: #f4f4f4;
  border: none;
  margin-top: 40px;
}

.post-update {
  display: flex;
  flex-direction: row;
}
.post-update-btn {
  margin: 5px;
}
input[type="radio"] + label {
  font-size: 14px;
}
input[type="radio"] {
  transform: scale(0.8);
}
.radio-choice {
  height: 20px;
}
