<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a user</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="form-wrapper">
      <form action="/users/new" method="POST">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" placeholder="Enter a first name" />
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" placeholder="Enter a last name" />
        <label for="imageURL">Image URL</label>
        <input type="text" name="imageURL" />
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
