<!DOCTYPE html>
<html lang="en">
    <head><title>New Post for {{ user.fullname }}</title>
        <link rel="stylesheet" href="/static/style.css" /></head>
    </head>
    <body>
        <div class="form-wrapper" >
            <form method="POST">
                <label for="new_title">Title</label>
                <input type="text" name="new_title" placeholder="Enter a title">
                <label for="new_content"></label>
                <textarea name="new_content" placeholder="Enter content"></textarea>
                <button class="edit-submit-btn"  formaction="/users/{{ user.id }}/posts/new" >POST</button>
                
                </form>
                <form action="/users/{{ user.id }}" method="GET">
                    <button class="edit-cancel-btn" type="submit" >Cancel</button>
                </form>
                
        </div>
    </body>
</html>