<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="form-wrapper">
      <form class="tag-detail-single">
        <h3>{{ tag.name }}</h3>
        <ul>
          {% for post in tag.posts %}
          <a href="/users/{{ post.user_id }}/posts/{{post.id}}"
            ><li>{{ post.title }}</li></a
          >
          {% endfor %}
        </ul>
        <button formaction="/tags/{{tag.id}}/edit">Edit</button>
        <button class="second-btn" formaction="/tags/{{tag.id}}/delete">
          Delete
        </button>
      </form>
    </div>
  </body>
</html>
