<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Users</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="user-display">
      <div>
        {% with messages = get_flashed_messages() %} {% for msg in messages %}
        <p>{{ msg }}</p>
        {% endfor %} {% endwith %}
      </div>
      <ul>
        {% for user in user_names %}
        <li>
          <a href="/users/{{ user.id }}"
            >{{ user.first_name }} {{ user.last_name}}</a
          >
        </li>
        {% endfor %}
      </ul>
      <form>
        <button class="form-btn" formaction="/users/new" formmethod="GET">
          Add user
        </button>
      </form>
      <form class="second-btn">
        <button class="form-btn" formaction="/">Home</button>
      </form>
    </div>
  </body>
</html>
